
<div id="accomondation-form">
  <h1 class="container text-center" id="heading">Zakwaterowanie</h1>
  <form #form="ngForm" (ngSubmit)="save()">

    <div class="row mb-3">



        <label for="inputName" class="col-sm-2 col-form-label">Wybierz miejsce zakwaterowania</label>
        <div class="col-sm-10">
        <input #inputAccomondation name="name" [(ngModel)]="accomondation.name" type="text"  id="inputName"  placeholder="Wyszukaj miejsce zakwaterowania" class="form-control custom-field">

      </div>

      </div>

      <div class="row mb-3">

          <button type='button' class="btn btn-outline-info" (click)="buttonDetailsClicked()">Wyświetl szczegóły</button>


      </div>
      <div class="row mb-3" *ngIf="accomondation.details.length&&showDetails">


        <ul>
          <li class="acc-details-el" *ngFor="let detail of accomondation.details">{{detail}}</li>
        </ul>
      </div>




      <div class="row mb-3">

        <label for="inputType" class="col-sm-2 col-form-label">Rodzaj zakwaterowania</label>
        <div class="col-sm-10">
        <select class="form-control" name="type" [(ngModel)]="accomondation.type" id="inputType" required>
          <option value="" disabled selected>Wybierz rodzaj zakwaterowania</option>
          <option value="Hostel">Hostel</option>
          <option value="Motel">Motel</option>
          <option value="Willa">Willa</option>
          <option value="Apartament">Apartament</option>
          <option value="Hotel">Hotel</option>
          <option value="Pensjonat">Pensjonat</option>

        </select>
        <p class="required-info">To pole jest wymagane!</p>
      </div>
    </div>
      <div class="row mb-3">
        <label for="inputArrDate" class="col-sm-2 col-form-label">Data zakwaterowania</label>
        <div class="col-sm-10">
        <input name="arrDate" type="date" class="form-control" [(ngModel)]="accomondation.arrDate" id="inputArrDate">
        </div>
      </div>


      <div class="row mb-3">
        <label for="inputDepDate" class="col-sm-2 col-form-label">Data wykwaterowania</label>
        <div class="col-sm-10">
        <input name="depDate" type="date" class="form-control" [(ngModel)]="accomondation.depDate" id="inputDepDate">
      </div>
      </div>
    <div class="row mb-3">
      <label for="inputNumberOfPeople" class="col-sm-2 col-form-label">Liczba osób</label>
      <div class="col-sm-10">
        <input name="numberOfPeople" class="form-control" [(ngModel)]="accomondation.numberOfPeople" id="inputNumberOfPeople" required>




      </div>

    </div>


    <button type="submit" [disabled]="!form.valid" class="btn btn-outline-info">Zapisz i przejdź dalej</button>
    <button class="btn btn-outline-info" routerLink="/trip-form">Powrót</button>




    </form>
    <div>








  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
